*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: #fff;
}
.container{
    max-width: 1300px;
    margin: auto;
}


/* navigation bar classes */
.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.menu-bar{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 30px;
    width: 60px;
}
.fa { transform: scale(1.5,1); }