@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: black;
    color: #fff;
    font-weight: 500;
}
.container{
    max-width: 1300px;
    margin: auto;
}


/* navigation bar classes */
.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
}
.menu-bar{
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 30px;
    width: 60px;
}
.fa { transform: scale(1.5,1); }

/* overlay classes  */

.overlay-container{
    position: absolute;
    overflow: hidden;
    top: 0;
    max-height: 0;
    width: 100vw;
    background: black;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    transition:max-height 0.5s;
}
.overlay-container.overlay-active{
    max-height: 100vh;
}

.overlay-div{
    max-width: 1000px;
    margin: auto;
}

/* overlay navigation  */

.overlay-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.overlay-button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(245, 197, 24);
    font-size: 25px;
    border: 0;
    cursor: pointer;
}


.icon-div{
    height: 30px;
    width: 30px;
}
.icon-div img{
    width: 100%;
}
/* overlay categories  */

.categories-div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.nav-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.space-between{  
    gap: 5rem;
}
.links-div{
    display: flex;
    gap: 1rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.categories-div p{
    cursor: pointer;
}
.categories-div p:hover{
    border-bottom: 1px solid #fff;
}

